<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UI.WebMatricula1C2023</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UI.WebMatricula1C2023.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
    </style>
</head>
<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow gradient-custom-2" style="background-color: #eee;">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" asp-controller="Home" asp-action="Index">Punto de venta</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @* <input class="form-control form-control-dark" type="text" placeholder="Buscar" aria-label="Search">*@
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" asp-controller="Acceso" asp-action="Logout">Cerrar sesión</a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">
                                <span data-feather="home"></span>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Curso" asp-action="Index">
                                <span data-feather="file"></span>
                                Cursos
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="CategoriaProducto" asp-action="Index">
                                <span data-feather="grid"></span>
                                Profesores
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Producto" asp-action="Index">
                                <span data-feather="shopping-cart"></span>
                                Matrícula
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Estudiante" asp-action="Index">
                                <span data-feather="users"></span>
                                Estudiantes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Gira" asp-action="Index">
                                <span data-feather="map"></span>
                                Giras
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Club" asp-action="Index">
                                <span data-feather="book-open"></span>
                                Clubes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Carrera" asp-action="Index">
                                <span data-feather="book-open"></span>
                                Carreras
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Residencia" asp-action="Index">
                                <span data-feather="book-open"></span>
                                Residencias
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2"></span>
                                Reportes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Perfil" asp-action="Index">
                                <span data-feather="user"></span>
                                Mi perfil
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Otros</span>
                        <a class="link-secondary" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Falcon Pride
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Fiesta de fin de año
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            @RenderBody()

        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - UI.WebMatricula1C2023 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Producto.js"></script>
    <script src="~/js/Curso.js"></script>
    <script src="~/js/Club.js"></script>
    <script src="~/js/Gira.js"></script>
    <script src="~/js/Carrera.js"></script>
    <script src="~/js/Residencia.js"></script>
    <script src="~/js/Estudiante.js"></script>
    <script src="~/js/dashboard.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
